body{
  background-image:
    linear-gradient(
       45deg, #4158d0, #4158d0
    );;
}

.Titles{
  color: white;
  font-family:Ubuntu;
}

#nav{
  font-family: Ubuntu;
}

.mu-title-area {
  align-content: center;
}

.mu-register-area {
  display: inline;
  float: left;
  padding: 150px 0;
  width: 100%;
}

.mu-register-area .mu-title,
.mu-register-area p {
  color: #fff;
}

.mu-register-content {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  padding: 0 200px;
  margin-top: 50px;
}

.mu-register-form .form-group {
  margin-bottom: 25px;
}


.mu-register-form .form-message {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.mu-register-form select.form-message option{
  color: #333;

}
.mu-register-form .form-message::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
}
.mu-register-form .form-message:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-size: 15px;
}

.mu-register-form .form-message::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
  font-size: 15px;
}

.mu-register-form .form-message:-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
}


.mu-register-form .form-control {
  height: 50px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.mu-register-form select.form-control option{
  color: #333;
}
.mu-register-form .form-control::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
}

.mu-register-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-size: 15px;
}

.mu-register-form .form-control::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
  font-size: 15px;
}

.mu-register-form .form-control:-ms-input-placeholder {
  color: #fff;
  font-size: 15px;
}

.mu-reg-submit-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 75px;
  margin-top: 20px;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 50%;
}

.mu-send-msg-btn,
.mu-register-btn:hover,
.mu-register-btn:focus,
.mu-register-btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #ff871c;
  background-color: #ff871c;
}
.mu-reg-submit-btn:hover,
.mu-reg-submit-btn:focus {
  background-color: #ff871c;
  border: 2px solid #ff871c;
}